*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



$primary-color: #007d79;
$primary-color-hover: #098a86;
$nav-hover-color: #015d5a;
$title-color: #86bab8;
// $background-color: #d7d3ca;
$background-color: #f8fdfd;
$text-color: rgb(37,37,37);
$accent-color: #d4bc50;
$heading1: 1.5em;
// $paragraph: 22px;
$paragraph: 1em;